*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
 background-color: white;
 display: flex;
 align-items: center;
 justify-content: center;
 min-height: 100vh;
}

#box{
   color: white;
   width: 300px;
   height: 100px;
   position: absolute;
   overflow: hidden;
}

.border-top{
    width: 100%;
    height: 3px;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #171618, red, #fcc23f);
    animation: anime-top 2s infinite;
    animation-delay: 1s;
}
@keyframes anime-top{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}
.border-left{
    margin-top: 95px;
    width: 100%;
    height: 3px;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #171618, red, #fcc23f);
    animation: anime-right 2s infinite;
    animation-delay: 1s;
}
@keyframes anime-right{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}
.border-right{
    position: absolute;
    width: 3px;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #171618, red, #fcc23f);
    animation: anime-ri 2s infinite;
    animation-delay: 1s;
}
@keyframes anime-ri{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
}
}

.border-bottom{
    position: absolute;
    width: 3px;
    height: 100%;
    top: 0;
    right: 0;
    background: linear-gradient(to right, #171618, red, #fcc23f);
    animation: anime- 2s infinite;
    animation-delay: 1s;
}
@keyframes anime-{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(100%);
    }
}


span{
    color: orange;
    font-size: x-large;
    right: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 200px;
    position: absolute;
    margin-top: 30px;
    margin-right: 10px;
}